header{
    background-size: contain;
    height: 110px;
    background-image: url("images/header.jpg");
    opacity:0.8;
}

body{
    background-image:url("images/body.jpg");
    background-size: cover;
    height: 100%;
}



header h1{
    color:chocolate;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing:7px;
}

nav a{
    color:rgb(181, 175, 175) !important;
}

nav a:hover{
    color: red !important;
    text-decoration: underline 2px red;
    background-color:rgba(80, 78, 78, 0.18);
}

.container{
    border: 5px solid black;
    padding:0px;
}

footer{
    margin:0px;
    margin-top: 10px;
    padding:0px;
  }
footer div{
    background-color: rgb(205, 197, 197);
    text-align:center;
}

#bal{
    float: left;
}
#jobb{
    float: right;
}
#bal, #jobb, #közép{
    padding:20px;
    display: block;
}


#nevek{
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}


.active{
    letter-spacing:1.5px;
    font-weight:bold;
    text-decoration-line: underline;
    color: rgb(142, 7, 7) !important;
}

.fooldal{
    font-weight: bold;
}


section h2{
    padding-left:10px;
    font-size: 140%;
}

nav{
    margin-bottom:5px;
}

.sdiv img{
    text-align: center;
    width: 95%;
    border-radius:5%
}

.sdiv{
    color:rgb(255, 255, 255,0.733);
    /**text-align: center ;**/
    margin-bottom: 10px;
}

.pozitivkep{
    text-align: center;
    width: 70% !important;
    border-radius: 5%;
    margin-top: 30px;
    margin-bottom: 20px;
}
a img:hover{
    opacity:0.8;
}

